body {
  background: linear-gradient(#9b00e3 5%, #2041b9 40%, rgb(20, 128, 18) 100%);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.profileimage {
  border-radius: 50rem;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  width: 200px;
}
.profile h2 {
  color: white;
}
.profile h5 {
  color: white;
  transform: translateY(-10px);
}
.biodata {
  background-color: white;
  font-size: larger;
}
.further {
  transform: translatey(-5);
}
.and {
  transform: translateY(-5);
  background-color: #760ba7;
}
.tester {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.rounded-circle {
  border-radius: 50%;
}
.pp {
  width: 50px;
  height: 2px;
}
.universitas {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.footer {
  background-color: white;
}
.contact a {
  color: black;
  font-size: 28px;
  background-color: white;
}
.watremark {
  padding-top: 30px;
  background-color: white;
}
.about {
  padding-top: 55px;
  font-size: larger;
}
.biodata {
  padding-top: 55px;
  font-style: italic;
}
.text-center2 {
  font-size: 25px;
  font-family: Comic Sans MS;
  font-style: normal;
}
.contact {
  background-color: white;
}
.foter {
  background-color: white;
}
.row {
  padding: 0px, 20px;
}
